

body {
  text-align: center;
  background-color: #1d3557;
}

#level-title {
  font-family: 'Roboto', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #a8dadc;
}

.container {
  max-width: 42rem;
  width: 100%;
  height: 80vh;
  margin: 4rem auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 1px solid #a8dadc;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(7, 148, 7);
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.unPressed {
  box-shadow: none;
  background-color: initial;
}

#start-btn{
  width: 100px;
  height: 40px;
  border: none;
  background-color: #F1FAEE;
  color: #E63946;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0 0 0;
}



@media only screen and (max-width: 450px){

  #level-title {
    font-size: 1.2rem;
    margin:  5%;
    color: #a8dadc;
  }
  
  .container {
    max-width: 30rem;
    height: 70vh;
    
  
  }
  
  .btn {
    margin: 15px;
    height: 100px;
    width: 100px;
  }
}

